<!doctype html>
<html lang="en">

{{template "views/partials/header"}}

<body>
<div class="wrapper-container">
    <div class="wrapper-middleware">
        {{if ne .info nil}}
            <div class="alert">
                <div class="content">{{.info}}</div>
            </div>
        {{end}}

        <div class="wrapper-card">
            {{embed}}
        </div>
    </div>
</div>
</body>

<style>
    .wrapper-container {
        width: 100dvw;
        min-height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;

        scrollbar-width: none;

        background-color: var(--md-sys-color-surface-container);
    }

    .wrapper-container::-webkit-scrollbar, body::-webkit-scrollbar {
        display: none;
        width: 0;
    }

    .wrapper-middleware {
        width: 100%;
        min-width: 0;
        max-width: min(800px, 100dvw);

        margin: 1rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .wrapper-card {
        transition: all .3s;
        height: auto;
        overflow: auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        border-radius: 28px;
        padding: 56px;
        gap: 2rem;
        background-color: var(--md-sys-color-surface);
        color: var(--md-sys-color-on-surface)
    }

    .alert {
        padding: 16px;
        border-radius: 16px;
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);
        display: flex;
        gap: 8px;
    }

    .alert .content {
        flex-grow: 1;
        text-transform: capitalize;
    }

    @media (min-width: 768px) {
        .wrapper-card {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>
</html>
